body {
    background-image: url(../images/admin-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px 0px 0px 0px;
    
}

.main-nav .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
    padding-left: 0;
}

.logo-design {
    width: 55px;
    height: 55px;
    background-color: #c41;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 20px 0 20px;
}

/* Margen para que el header no tape el contenido */
.admin-section {
    padding-top: 120px; 
    padding-bottom: 60px;
}

.cuadro_admin {
    color: #222;
    background: #fff;
    border: 1px solid #eee;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.05); /* Efecto de sombra suave */
    text-align: center;
    transition: all .3s;
    margin-bottom: 30px;
    height: 60vh;
    display: flex;
    flex-direction: column; /* Para que el h3 esté arriba del p */
    justify-content: center; /* Centrado vertical */
    align-items: center;
}

/* Efecto hover para que se vea interactivo */
.cuadro_admin:hover {
    transform: translateY(-10px);
    border-color: #c41; /* Color azul de la plantilla Woox */
}

.titulo-cuadro {
    color: #666;
}

.gestion-restarante {
    background-image: url(../images/gestion-restaurate-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}