.admin-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.admin-header {
    background-color: #c41;
    color: white;
    padding: 1rem 0;
}

.admin-header h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.admin-main {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.admin-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(0, 0, 0)
}
/*botones*/
.boton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    transition: background-color 0.2s;
}
.boton-add {
    background-color: rgb(12, 143, 12);
}

.boton-add:hover {
    background-color: rgb(10, 120, 10);
}

.boton-edit {
    background-color: #1976d2;
    font-size: 0.85rem;
}

.boton-edit:hover {
    background-color: #115293;
}

.boton-eliminar {
    background-color: #d32f2f;
    font-size: 0.85rem;
}

.boton-eliminar:hover {
    background-color: #9a0007;
}

.boton-cancel {
    background-color: #757575;
}

.boton-guardar {
    background-color: rgb(12, 143, 12);
}

.acciones {
    display: flex;
    gap: 8px;
}
/*tablas*/
.tabla-formato {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.tabla-datos {
    width: 100%;
    border-collapse: collapse;
}

.tabla-datos th, .tabla-datos td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px, solid #ddd;
}

.tabla-datos th {
    background-color: #f5f5f5;
    font-weight: 600;
}

.tabla-datos tr:hover {
    background-color: #fafafa;
}

.tabla-imagen {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/*Formularios*/
.admin-form .form-group{
    margin-bottom: 1rem;
}

.admin-form .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.admin-form label {
    display: block;
    margin-bottom: 0.5rem;
    gap: 1rem;
}

.admin-form input, .admin-form select, admin-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 1.5rem;
}