<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Celis&Ud - Usuario</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/css/loginuseradmin.css" />
    <link rel="stylesheet" href="/assets/css/templatemo-woox-travel.css" />
  </head>
  <body>
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <a href="/" class="logo"
                ><i class="fa fa-utensils"></i> Celis&Ud</a
              >
              <ul class="nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/restaurants">Restaurantes</a></li>
                <li class="login-item">
                  <a href="/login" class="active">Iniciar Sesión</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <div class="background">
      <div id="login-especial" class="login-container">
        <h2>Usuario</h2>
        <div class="login-card">
          <form action="/" method="get">
            <div class="input-group">
              <span class="icon"><i class="fa-solid fa-user"></i></span>
              <input
                type="text"
                name="username"
                placeholder="Nombre usuario"
                required
              />
            </div>
            <div class="input-group">
              <span class="icon"><i class="fa-solid fa-lock"></i></span>
              <input
                type="password"
                name="password"
                placeholder="Contraseña"
                required
              />
            </div>
            <div class="options">
              <label><input type="checkbox" /> Recuerdame</label>
              <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
            <button type="submit" class="login-btn">INICIAR SESIÓN</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
